---
permalink: /feed.xml
---
<?xml version='1.0' encoding='UTF-8'?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>biscuit calendar</title>
    <link href='https://{{info.domain}}/feed.xml' rel='self' />
    <updated>{{fullisodate (now)}}</updated>
    <author>
        <name>alifeee</name>
    </author>
    <id>{{info.domain}}</id>
{{#each (flatten (calendar))}}
{{#if (hasitems this.text_data)}}
    {{#each text_data}}
    {{#if this}}
    <entry>
        <title>calendar item</title>
        <link href='https://{{../../info.domain}}/{{encURIcmp @key}}/#{{isodate ../date}}' />
        <id>{{../../info.domain}}/{{encURIcmp @key}}/#{{isodate ../date}}</id>
        <updated>{{fullisodate ../date}}</updated>
        <summary>{{@key}} - {{isodate ../date}} - {{this}}</summary>
    </entry>
    {{/if}}{{/each}}
{{/if}}{{/each}}
</feed>
