---
layout: base.hbs
pagination:
  data: names
  size: 1
  alias: name
permalink: /edit/{{name}}/
---
<form id="form" method="POST" action="/edit">
<input type="text" hidden name="name" value="{{name}}" />
<table>
  <tr>
    <th>M</th>
    <th>T</th>
    <th>W</th>
    <th>T</th>
    <th>F</th>
    <th>S</th>
    <th>S</th>
  </tr>
  {{#each (calendar name 4)}}
  <tr>
    {{#each this}}
    <td>
      <time id="{{isodate date}}" class="date">{{date_label}}</time>
      <textarea id="{{isodate date}}" name="{{isodate date}}">{{get text_data @root.name}}</textarea>
    </td>
    {{/each}}
  </tr>
  {{/each}}
</table>
<div class="submit" style="margin:1rem;display:flex;justify-content:center">
  <button role="submit">Submit</button>
</div>
</form>
