---
layout: base.hbs
pagination:
  data: names
  size: 1
  alias: name
permalink: /{{name}}/
---
<table>
  <tr>
    <th>M</th>
    <th>T</th>
    <th>W</th>
    <th>T</th>
    <th>F</th>
    <th>S</th>
    <th>S</th>
  </tr>
  {{#each (calendar name)}}
  <tr>
    {{#each this}}
    <td>
      <time id="{{isodate date}}" class="date">{{date_label}}</time>
      <p class="{{@root.name}}">
        {{get text_data @root.name}}
      </p>
    </td>
    {{/each}}
  </tr>
  {{/each}}
</table>
<p style="margin: 1rem;width: 100%;text-align: center;">
  <a href="/edit/{{name}}/">Edit</a>
</p>
