<!DOCTYPE html>
<head>
  <title>{{info.baseName}}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="icon" href="https://server.alifeee.net/favicon.ico">
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
      padding: 1rem;
      background-color: black;
      color: white;
    }
    p {
      margin: 0;
    }
    main {
    }
    .key {
      margin-bottom: 1rem;
    }
    .ical {
      margin-bottom: 1rem;
    }
    table {
      border-collapse: separate;
      border-spacing: 0;
      width: 100%;
      overflow-x: scroll;
      position: relative;
    }
    th{
      position: sticky;
      top: 0;
      border: 1px solid green;
      text-align: center;
      padding: 8px;
      background-color: black;
      z-index: 1;
    }
    td {
      border: 1px solid green;
      text-align: left;
      padding: 0.5rem;
      padding-top: 2.5rem;
      position: relative;
      width: 14.28%;
      min-width: 6rem;
    }
    td .date {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 0.8rem;
      padding: 0.5rem;
      background-color: #00aa0044;
      font-weight: bold;
    }
    .today {
      color: white;
      background-color: red !important;
      border-color: brown;
    }
    .content {
      margin: 0;
    }
    .all {
      color: white;
    }
    {{#each names}}
    .{{this}} {
      color: {{colourCycle @key}};
      text-underline-offset: 3px;
      {{#if (gt @index 5)}}
      text-decoration: underline dashed;
      {{/if}}
      {{#if (gt @index 11)}}
      text-decoration: underline dotted;
      {{/if}}
    }
    {{/each}}
  </style>
  <script>
    function goToToday() {
      const today = new Date();
      const todayString = today.toISOString().slice(0, 10);
      // add hashlink to url
      window.location.hash = todayString;
    }
    document.addEventListener('DOMContentLoaded', () => {
      // add today class to today's date
      const today = new Date();
      const todayString = today.toISOString().slice(0, 10);
      const todayElement = document.getElementById(todayString);
      if (todayElement) {
        todayElement.classList.add('today');
      } else {
        console.warn("no element found for today:", todayString)
      }
    });
  </script>
  <script>
    function timeSince(date) {
        var seconds = Math.floor((new Date() - date) / 1000);

        var interval = seconds / 31536000;

        if (interval > 2) {
          return Math.floor(interval) + " years";
        }
        interval = seconds / 2592000;
        if (interval > 2) {
          return Math.floor(interval) + " months";
        }
        interval = seconds / 86400;
        if (interval > 2) {
          return Math.floor(interval) + " days";
        }
        interval = seconds / 3600;
        if (interval > 2) {
          return Math.floor(interval) + " hours";
        }
        interval = seconds / 60;
        if (interval > 2) {
          return Math.floor(interval) + " minutes";
        }
        return Math.floor(seconds) + " seconds";
      }
      document.addEventListener("DOMContentLoaded", () => {
        let time_el = document.getElementById("lastupdated")
        let time = time_el.getAttribute("datetime")
        let timeUpdated = Date.parse(time)
        let timeAgo = timeSince(timeUpdated)
        let timeAgo_el = document.getElementById("timeAgo")
        timeAgo_el.innerHTML= `(${timeAgo} ago)`
      })
  </script>
  <style>
    h1 {
      margin: 0 0 0.5rem 0;
    }
    header {
      margin: 0 0 1rem 0;
    }
    h2 {
      margin: 0.5rem 0;
    }
    footer p {
      max-width: 40rem;
      margin: 0.5rem 0;
    }
    a {
      color: white;
    }
  </style>
</head>
<body>
  <header>
    <h1>{{info.baseName}}</h1>
    Last updated:
    <time id="lastupdated" datetime="{{isodatetime (now)}}" title="{{isodatetime (now)}}">{{readableDate (now)}}</time>
    <span id="timeAgo"></span>
  </header>
  <main>
    <section class="key">
      <button onclick="goToToday()" class="today">Go to today</button>
      · <a href="/" class="all">all</a>
      {{#each names}}
      · <a href="/{{this}}/" class="{{this}}">{{this}}</a>
      {{/each}}
      · <a href="/new/">(new name)</a>
    </section>
    <section class="ical">
      sync to calendar{{#if name}} ({{name}} events only){{/if}}:
        <a target="_blank" href="https://www.google.com/calendar/render?cid=webcal://{{info.domain}}{{#if name}}/{{name}}{{/if}}/calendar.ics">
          Google Calendar
        </a>
        ·
        <a target="_blank" href="https://outlook.live.com/owa/?rru=addsubscription&name={{info.domain}}&url=webcal://{{info.domain}}{{#if name}}/{{name}}{{/if}}/calendar.ics">Outlook/Hotmail</a>
        ·
        <a href="webcal://{{info.domain}}{{#if name}}/{{name}}{{/if}}/calendar.ics">other calendars</a>
        ·
        <a href="{{#if name}}/{{name}}{{/if}}/calendar.ics">raw ical file</a>
    </section>
    {{{content}}}
  </main>
  <footer>
    <h2 id="what-is-this">What is this?</h2>
    <p></p>
      Welcome to my social calendar :)
    </p>
    <p>
      This is an experiment. I will be putting things on here that I plan on doing. If you know me, text me about them, and ask to come along! You're always welcome to come to anything on here. There's also an <a href="/feed.xml">RSS feed</a>!
    </p>
    <p>
      If this is empty, either I have stopped using this, or I am in a period of *deep* relaxation and introspection.
    </p>
    <p>
      This site is visible by anyone. It is at least partly inspired by <a href="https://astro.dur.ac.uk/~dma/davo_location.html">https://astro.dur.ac.uk/~dma/davo_location.html</a>.
    </p>
    <p>
      - <a href="https://alifeee.co.uk">alifeee</a>
    </p>
    <br>
    <p>
      <a href="https://github.com/alifeee/simple-calendar">source</a>
    </p>
  </footer>
</body>
