<!DOCTYPE html>
<head>
  <title>Calendar</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
      padding: 1rem;
      background-color: black;
      color: white;
    }
    p {
      margin: 0;
    }
    main {
    }
    table {
      border-collapse: separate;
      border-spacing: 0;
      width: 100%;
      overflow-x: scroll;
      position: relative;
    }
    th{
      position: sticky;
      top: 0;
      border: 1px solid green;
      text-align: center;
      padding: 8px;
      background-color: black;
      z-index: 1;
    }
    td {
      border: 1px solid green;
      text-align: left;
      padding: 0.5rem;
      padding-top: 2.5rem;
      position: relative;
      width: 14.28%;
      min-width: 6rem;
    }
    td .date {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 0.8rem;
      padding: 0.5rem;
      background-color: #00aa0044;
      font-weight: bold;
    }
    .today {
      color: white;
      background-color: red !important;
      border-color: brown;
    }
    .content {
      margin: 0;
    }
    .all {
      color: white;
    }
    {{#each names}}
    .{{this}} {
      color: {{colourCycle @key}};
    }
    {{/each}}
    button {
      margin-bottom: 1rem;
    }
  </style>
  <script>
    function goToToday() {
      const today = new Date();
      const todayString = today.toISOString().slice(0, 10);
      // add hashlink to url
      window.location.hash = todayString;
    }
    document.addEventListener('DOMContentLoaded', () => {
      // add today class to today's date
      const today = new Date();
      const todayString = today.toISOString().slice(0, 10);
      const todayElement = document.getElementById(todayString);
      if (todayElement) {
        todayElement.classList.add('today');
      } 
    });
  </script>
  <script>
    function timeSince(date) {
        var seconds = Math.floor((new Date() - date) / 1000);

        var interval = seconds / 31536000;

        if (interval > 2) {
          return Math.floor(interval) + " years";
        }
        interval = seconds / 2592000;
        if (interval > 2) {
          return Math.floor(interval) + " months";
        }
        interval = seconds / 86400;
        if (interval > 2) {
          return Math.floor(interval) + " days";
        }
        interval = seconds / 3600;
        if (interval > 2) {
          return Math.floor(interval) + " hours";
        }
        interval = seconds / 60;
        if (interval > 2) {
          return Math.floor(interval) + " minutes";
        }
        return Math.floor(seconds) + " seconds";
      }
      document.addEventListener("DOMContentLoaded", () => {
        let time_el = document.getElementById("lastupdated")
        let time = time_el.getAttribute("datetime")
        let timeUpdated = Date.parse(time)
        let timeAgo = timeSince(timeUpdated)
        let timeAgo_el = document.getElementById("timeAgo")
        timeAgo_el.innerHTML= `(${timeAgo} ago)`
      })
  </script>
</head>
<body>
  <header>
    <h1>Calendar</h1>
    Last updated:
    <time id="lastupdated" datetime="{{isodate (now)}}" title="{{isodate (now)}}">{{readableDate (now)}}</time>
    <span id="timeAgo"></span>
  </header>
  <main>
    <h2>Calendar</h2>
    <section class="key">
      <button onclick="goToToday()" class="today">Go to today</button>
      · <a href="/" class="all">all</a>
      {{#each names}}
      · <a href="/{{this}}" class="{{this}}">{{this}}</a>
      {{/each}}
    </section>
    {{{content}}}
  </main>
</body>
